@import "tailwindcss";

@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
    /* Custom xs breakpoint for extra small devices (480px+) */
    --breakpoint-xs: 480px;

    --keyframes-animatedTextGradient: {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    };

    --background-size-300: 300%;

    --animation-gradient: animatedTextGradient 6s ease infinite alternate;
}
